/* app css stylesheet */

.ng-cloak {
  display: none;
}

.form-group .text-info {
  margin-top: 0.5em;
}


/** Utility Classes **/
.mt0 {
  margin-top: 0;
}

.mb1em {
  margin-bottom: 1em;
}

.pointer {
  cursor: pointer;
}

.mr1em {
  margin-right: 1em;
}