<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ygAdmin" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ygAdmin" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ygAdmin" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="ygAdmin" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>YadaGuru Administration</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="ng-cloak">
  <ul class="menu">
    <li><a ui-sref="reminders">Reminders</a></li>
    <li><a ui-sref="categories">Categories</a></li>
    <li><a ui-sref="timeframes">Timeframes</a></li>
    <li><a ui-sref="tests">Tests</a></li>
    <!--<li><a href="#!/test_dates">Test Dates</a></li>-->
    <!--<li><a href="#!/content_items">Content Items</a></li>-->
    <li ng-if="!isAuthorized()"><a ui-sref="login">Login</a></li>
    <li ng-if="isAuthorized()"><a href="#" ng-click="logout()">Logout</a></li>
  </ul>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ui-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="app.js"></script>
  <script src="services/services.js"></script>
  <script src="services/api.js"></script>
  <script src="services/auth.js"></script>
  <script src="services/base-controllers.js"></script>
  <script src="services/error.js"></script>
  <script src="components/directives.js"></script>
  <script src="components/list-table/list-table.js"></script>
  <script src="login/login.js"></script>
  <script src="reminders/reminders-edit.js"></script>
  <script src="reminders/reminders.js"></script>
  <script src="categories/categories.js"></script>
  <script src="timeframes/timeframes.js"></script>
  <script src="tests/tests.js"></script>
  <!--<script src="testDates/testDates.js"></script>-->
  <!--<script src="contentItems/contentItemds.js"></script>-->
</body>
</html>
