<h2>Reminders</h2>
<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Category
      </th>
      <th>
        Message
      </th>
      <th>
        Timeframes
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="reminder in reminders">
      <td>
        <a ui-sref="reminders-edit({id: reminder.id})">
          {{ reminder.name }}
        </a>
      </td>
      <td>
        {{ reminder.categoryName }}
      </td>
      <td>
        {{ reminder.message }}
      </td>
      <td>
        <div ng-repeat="timeframe in reminder.timeframes">
          {{ timeframe }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
