<div class="container">
  <div class="row">
    <h2 class="mt0 pull-left">{{ items }}</h2>
    <button ng-if="!hideNewButton" ng-click="newItem()" class="btn btn-primary pull-right">New {{ item }}</button>
  </div>
  <table class="table table-striped table-hover row">
    <thead>
      <tr>
        <th ng-repeat="column in columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" ng-repeat="item in resource" ng-click="editItem(item)" ng-transclude>
      </tr>
    </tbody>
  </table>
</div>
