<yg-edit-form resource="tests" title="Test" ng-if="loaded">
  <yg-text-input label="Type (Required)" ng-model="tests.type" required></yg-text-input>
  <yg-rich-text-box label="Registration Message (Required)" ng-model="tests.registrationMessage" required>
    Message (and detail below) that will be sent on the date the test registration is due.
  </yg-rich-text-box>
  <yg-rich-text-box label="Registration Detail (Required)" ng-model="tests.registrationDetail" required></yg-rich-text-box>
  <yg-rich-text-box label="Administration Message (Required)" ng-model="tests.adminMessage" required>
    Message (and detail below) that will be sent on the date the test is being administered.
  </yg-rich-text-box>
  <yg-rich-text-box label="Administration Detail (Required)" ng-model="tests.adminDetail" required></yg-rich-text-box>
</yg-edit-form>
