<yg-edit-form resource="test_dates" title="Test Dates" ng-if="loaded">
  <yg-resource-drop-down
      label="Test Type (Required)"
      ng-model="test_dates.testId"
      option-resource="tests"
      option-value="id"
      option-text="type"
      required
  >
    Tests can be edited <strong><a ui-sref="tests">here</a></strong>.
  </yg-resource-drop-down>
  <yg-date-input label="Registration Date (Required)" ng-model="test_dates.registrationDate" required>
    Date the test registration is due.
  </yg-date-input>
  <yg-date-input label="Administration Date (Required)" ng-model="test_dates.adminDate" required>
    Date the test will be administered.
  </yg-date-input>
</yg-edit-form>
